<section class="newedge-slider img-overlay">
  <div class="newedge-slider-content">
    <div id="main-slider" class="carousel slide" data-ride="carousel">
      <div class="container visible-lg visible-md">
        <div class="main-slider-indicators ">
          <div class="nano">
            <div class="content">
              <ul class="main-slider-indicators-inner carousel-indicators" tabindex="0">
                <li data-target="#main-slider" data-slide-to="0" class="text-right active">
                  <p class="slide2-type"><%= Enum.at(@slider_news, 0).category %></p>
                  <p class="indicators-title"><%= Enum.at(@slider_news, 0).title %></p>
                </li>
                <li data-target="#main-slider" data-slide-to="1" class="text-right">
                  <p class="slide2-type"><%= Enum.at(@slider_news, 1).category %></p>
                  <p class="indicators-title"><%= Enum.at(@slider_news, 1).title %></p>
                </li>
                <li data-target="#main-slider" data-slide-to="2" class="text-right">
                  <p class="slide2-type"><%= Enum.at(@slider_news, 2).category %></p>
                  <p class="indicators-title"><%= Enum.at(@slider_news, 2).title %></p>
                </li>
              </ul>
            </div>
          </div>
         </div> <!-- //carousel-indicators -->
      </div> <!-- //container -->

      <div class="carousel-inner" role="listbox">
        <div class="item active" style="background-image: url(http://www.fardanews.com/files/fa/news/1396/4/26/535585_469.jpg);">
          <div class="item-overlay"> </div>
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-12 next-post">
                <div class="next-post-wrapper">
                  <div>
                    <p class="slide-cat">
                      <a href="/news/detail/<%= Enum.at(@slider_news, 0).id %>"><%= Enum.at(@slider_news, 0).category %></a>
                    </p>
                    <h2 class="slide-title">
                      <a href="/news/detail/<%= Enum.at(@slider_news, 0).id %>"><%= Enum.at(@slider_news, 0).title %></a></a>
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item" style="background-image: url(http://www.fardanews.com/files/fa/news/1396/4/26/535418_266.jpg);">
          <div class="item-overlay"> </div>
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-12 next-post">
                <div class="next-post-wrapper">
                  <div>
                    <p class="slide-cat">
                      <a href="/news/detail/<%= Enum.at(@slider_news, 1).id %>"><%= Enum.at(@slider_news, 1).category %></a>
                    </p>
                    <h2 class="slide-title">
                      <a href="/news/detail/<%= Enum.at(@slider_news, 1).id %>"><%= Enum.at(@slider_news, 1).title %></a></a>
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item" style="background-image: url(http://www.fardanews.com/files/fa/news/1396/4/27/536008_718.jpg);">
          <div class="item-overlay"> </div>
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-12 next-post">
                <div class="next-post-wrapper">
                  <div>
                    <p class="slide-cat">
                      <a href="/news/detail/<%= Enum.at(@slider_news, 2).id %>">
                        <%= Enum.at(@slider_news, 2).category %></a>
                      </a>
                    </p>
                    <h2 class="slide-title">
                      <a href="/news/detail/<%= Enum.at(@slider_news, 2).id %>"><%= Enum.at(@slider_news, 2).title %></a></a>
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- //carousel-inner -->

      <!-- Navigation for mobile device -->
      <div class="container visible-sm visible-xs">
        <div class="customNavigation carousel-controls">
          <a class="left" data-target="#main-slider" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
          <a class="right" data-target="#main-slider" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
        </div>
      </div>
    </div>
  </div> <!-- //newedge-slider-content -->
</section>
<!--====  End of SLIDER  ====-->


<section class="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <!-- Latest News -->
        <div class="newedge-latest-news">
          <!-- Latest Videos -->
          <div class="newedge-latest-videos mtb10">
            <div class="section-title">
              <h3 class="pull-left">
                <span class="cat-icon"><i class="fa fa-play"></i></span>تماشا
              </h3>
              <div class="pull-right see-all">
                <a href="/">دیدن همه</a>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-7">
                <div class="latest-video leading-item">
                  <div class="latest-video-inner">
                    <div class="overlay"></div>
                    <div class="img-wrapper">
                      <video controls>
                        <source src="/video/video.mp4" type="video/mp4">
                      </video>
                    <!-- <img src="img/latest-video/lead-item.jpg" alt="img">
                    <a href="single-article-video.html"><i class="play-icon fa fa-play-circle-o"></i></a> -->
                    </div>
                    <div class="video-post-info">
                      <p class="vp-cat">ویدئو</p>
                      <h3 class="entry-title"><a href="/news/detail/<%= Enum.at(@all_news, 0).id %>"><%= Enum.at(@all_news,0).title %></a></h3>
                    </div>
                  </div>
                </div>
              </div> <!-- //leading-item -->

              <div class="col-sm-5">
                <div class="latest-video sub-leading-item media">
                  <div class="latest-video-inner">
                    <div class="img-wrapper media-left">
                      <img src="http://www.fardanews.com/files/fa/news/1396/4/26/535677_885.jpg" alt="img">
                      <a href="/"><i class="play-icon fa fa-play-circle-o"></i></a>
                    </div>
                    <div class="video-post-info media-body">
                      <p class="vp-cat">ویدئو</p>
                      <h4 class="entry-title"><a href="/news/detail/<%= Enum.at(@all_news, 1).id %>"><%= Enum.at(@all_news,1).title %></a></h4>
                    </div>
                  </div>
                </div>
              </div> <!-- //sub-leading-item -->

              <div class="col-sm-5">
                <div class="latest-video sub-leading-item media">
                  <div class="latest-video-inner">
                    <div class="img-wrapper media-left">
                      <img src="http://www.fardanews.com/files/fa/news/1396/4/27/536155_119.jpg" alt="img">
                      <a href="/"><i class="play-icon fa fa-play-circle-o"></i></a>
                    </div>
                    <div class="video-post-info media-body">
                      <p class="vp-cat">ویدئو</p>
                      <h4 class="entry-title"><a href="/news/detail/<%= Enum.at(@all_news, 2).id %>"><%= Enum.at(@all_news,2).title %></a></h4>
                    </div>
                  </div>
                </div>
              </div> <!-- //sub-leading-item -->

              <div class="col-sm-5">
                <div class="latest-video sub-leading-item media">
                  <div class="latest-video-inner">
                    <div class="img-wrapper media-left">
                      <img src="http://www.fardanews.com/files/fa/news/1396/4/27/536022_894.jpg" alt="img">
                      <a href="/"><i class="play-icon fa fa-play-circle-o"></i></a>
                    </div>
                    <div class="video-post-info media-body">
                      <p class="vp-cat">ویدئو</p>
                      <h4 class="entry-title"><a href="/news/detail/<%= Enum.at(@all_news, 3).id %>"><%= Enum.at(@all_news,3).title %></a></h4>
                    </div>
                  </div>
                </div>
              </div> <!-- //sub-leading-item -->

            </div> <!-- //row -->
          </div> <!-- //Latest Videos -->
        </div>



        <div class="default single-article-category simple-article-overlay">
          <div class="section-title">
            <h3 class="pull-left">سیاسی</h3>
            <div class="pull-right see-all">
              <a href="/">دیدن همه</a>
            </div>
          </div> <!-- //section-title -->

          <div class="row">
            <div class="col-sm-4">
              <article class="no-image">
                <div class="article-inner default">
                  <div class="overlay"></div>
                  <div class="img-wrapper">
                    <img class="img-100p latest-post-image" src="http://www.iribnews.ir/files/fa/news/1396/4/27/1186482_231.jpg" alt="img">
                  </div>
                  <div class="article-info">
                    <h4 class="entry-title">
                      <a href="/news/detail/<%= Enum.at(@all_news, 8).id %>"><%= Enum.at(@all_news, 8).title %></a>
                    </h4>
                  </div>
                </div>
              </article>
            </div> <!-- //col-sm-4 -->

            <div class="col-sm-4">
              <article class="no-image">
                <div class="article-inner default">
                  <div class="overlay"></div>
                  <div class="img-wrapper">
                    <img class="img-100p latest-post-image" src="http://www.iribnews.ir/files/fa/news/1396/4/27/1185480_851.jpg" alt="img">
                  </div>
                  <div class="article-info">
                    <h4 class="entry-title">
                      <a href="/news/detail/<%= Enum.at(@all_news, 9).id %>"><%= Enum.at(@all_news, 9).title %></a>
                    </h4>
                  </div>
                </div>
              </article>
            </div> <!-- //col-sm-4 -->

            <div class="col-sm-4">
              <article class="no-image">
                <div class="article-inner default">
                  <div class="overlay"></div>
                  <div class="img-wrapper">
                    <img class="img-100p latest-post-image" src="http://www.iribnews.ir/files/fa/news/1396/4/27/1184927_659.jpg" alt="img">
                  </div>
                  <div class="article-info">
                    <h4 class="entry-title">
                      <a href="/news/detail/<%= Enum.at(@all_news, 10).id %>"><%= Enum.at(@all_news, 10).title %></a>
                    </h4>
                  </div>
                </div>
              </article>
            </div> <!-- //col-sm-4 -->

            <div class="popular-news">
              <div class="section-title">
                <h3> <span class="cat-icon"><i class="fa fa-pencil"></i></span>اخرین اخبار سیاسی</h3>
              </div> <!-- //section-title -->

              <ul class="popular-news-list">
                <%= for politic_news <- @politics_news do %>
                  <li><a href="/news/detail/<%= politic_news.id %>"><%= politic_news.title %></a></li>
                <% end %>
              </ul>
            </div> <!-- //popular-news -->


          </div> <!-- //row -->

        </div>


        <div class="default single-article-category simple-article-overlay">
          <div class="section-title">
            <h3 class="pull-left">فرهنگی</h3>
            <div class="pull-right see-all">
              <a href="/">دیدن همه</a>
            </div>
          </div> <!-- //section-title -->

          <div class="row">
            <div class="col-sm-4">
              <article class="no-image">
                <div class="article-inner default">
                  <div class="overlay"></div>
                  <div class="img-wrapper">
                    <img class="img-100p latest-post-image" src="http://www.iribnews.ir/files/fa/news/1396/4/27/1186482_231.jpg" alt="img">
                  </div>
                  <div class="article-info">
                    <h4 class="entry-title">
                      <a href="/news/detail/<%= Enum.at(@all_news, 8).id %>"><%= Enum.at(@all_news, 8).title %></a>
                    </h4>
                  </div>
                </div>
              </article>
            </div> <!-- //col-sm-4 -->

            <div class="col-sm-4">
              <article class="no-image">
                <div class="article-inner default">
                  <div class="overlay"></div>
                  <div class="img-wrapper">
                    <img class="img-100p latest-post-image" src="http://www.iribnews.ir/files/fa/news/1396/4/27/1185480_851.jpg" alt="img">
                  </div>
                  <div class="article-info">
                    <h4 class="entry-title">
                      <a href="/news/detail/<%= Enum.at(@all_news, 9).id %>"><%= Enum.at(@all_news, 9).title %></a>
                    </h4>
                  </div>
                </div>
              </article>
            </div> <!-- //col-sm-4 -->

            <div class="col-sm-4">
              <article class="no-image">
                <div class="article-inner default">
                  <div class="overlay"></div>
                  <div class="img-wrapper">
                    <img class="img-100p latest-post-image" src="http://www.iribnews.ir/files/fa/news/1396/4/27/1184927_659.jpg" alt="img">
                  </div>
                  <div class="article-info">
                    <h4 class="entry-title">
                      <a href="/news/detail/<%= Enum.at(@all_news, 10).id %>"><%= Enum.at(@all_news, 10).title %></a>
                    </h4>
                  </div>
                </div>
              </article>
            </div> <!-- //col-sm-4 -->

            <div class="popular-news">
              <div class="section-title">
                <h3> <span class="cat-icon"><i class="fa fa-pencil"></i></span>آخرین اخبار فرهنگی</h3>
              </div> <!-- //section-title -->

              <ul class="popular-news-list">
                <%= for culture_news <- @cultures_news do %>
                  <li><a href="/news/detail/<%= culture_news.id %>"><%= culture_news.title %></a></li>
                <% end %>
              </ul>
            </div> <!-- //popular-news -->


          </div> <!-- //row -->

        </div>


        <div class="default single-article-category simple-article-overlay">
          <div class="section-title">
            <h3 class="pull-left">اقتصادی</h3>
            <div class="pull-right see-all">
              <a href="/">دیدن همه</a>
            </div>
          </div> <!-- //section-title -->

          <div class="row">
            <div class="col-sm-4">
              <article class="no-image">
                <div class="article-inner default">
                  <div class="overlay"></div>
                  <div class="img-wrapper">
                    <img class="img-100p latest-post-image" src="http://www.iribnews.ir/files/fa/news/1396/4/27/1186482_231.jpg" alt="img">
                  </div>
                  <div class="article-info">
                    <h4 class="entry-title">
                      <a href="/news/detail/<%= Enum.at(@all_news, 8).id %>"><%= Enum.at(@all_news, 8).title %></a>
                    </h4>
                  </div>
                </div>
              </article>
            </div> <!-- //col-sm-4 -->

            <div class="col-sm-4">
              <article class="no-image">
                <div class="article-inner default">
                  <div class="overlay"></div>
                  <div class="img-wrapper">
                    <img class="img-100p latest-post-image" src="http://www.iribnews.ir/files/fa/news/1396/4/27/1185480_851.jpg" alt="img">
                  </div>
                  <div class="article-info">
                    <h4 class="entry-title">
                      <a href="/news/detail/<%= Enum.at(@all_news, 9).id %>"><%= Enum.at(@all_news, 9).title %></a>
                    </h4>
                  </div>
                </div>
              </article>
            </div> <!-- //col-sm-4 -->

            <div class="col-sm-4">
              <article class="no-image">
                <div class="article-inner default">
                  <div class="overlay"></div>
                  <div class="img-wrapper">
                    <img class="img-100p latest-post-image" src="http://www.iribnews.ir/files/fa/news/1396/4/27/1184927_659.jpg" alt="img">
                  </div>
                  <div class="article-info">
                    <h4 class="entry-title">
                      <a href="/news/detail/<%= Enum.at(@all_news, 10).id %>"><%= Enum.at(@all_news, 10).title %></a>
                    </h4>
                  </div>
                </div>
              </article>
            </div> <!-- //col-sm-4 -->

            <div class="popular-news">
              <div class="section-title">
                <h3> <span class="cat-icon"><i class="fa fa-pencil"></i></span>آخرین اخبار اقتصادی</h3>
              </div> <!-- //section-title -->

              <ul class="popular-news-list">
                <%= for busines_news <- @business_news do %>
                  <li><a href="/news/detail/<%= busines_news.id %>"><%= busines_news.title %></a></li>
                <% end %>
              </ul>
            </div> <!-- //popular-news -->


          </div> <!-- //row -->

        </div>

      </div>

      <div class="col-sm-3">
        <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=35.6892&lon=51.3890&name=Tehran color=#00aaff&font=Arial&units=ca"> </iframe>
        <iframe src="http://www.eranico.com/fa/widgetcode/?pids=20-24-30-36-23-26-5-19-"  scrolling="no" frameborder="0"  width="100%" height="371px"  ></iframe>

        <div class="popular-news">
          <div class="section-title">
            <h3> <span class="cat-icon"><i class="fa fa-pencil"></i></span>اخرین اخبار</h3>
          </div> <!-- //section-title -->

          <ul class="popular-news-list">
            <li><a href="/news/detail/<%= Enum.at(@all_news, 4).id %>"><%= Enum.at(@all_news, 4).title %></a></li>
            <li><a href="/news/detail/<%= Enum.at(@all_news, 5).id %>"><%= Enum.at(@all_news, 5).title %></a></li>
            <li><a href="/news/detail/<%= Enum.at(@all_news, 6).id %>"><%= Enum.at(@all_news, 6).title %></a></li>
            <li><a href="/news/detail/<%= Enum.at(@all_news, 7).id %>"><%= Enum.at(@all_news, 7).title %></a></li>
            <li><a href="/news/detail/<%= Enum.at(@all_news, 8).id %>"><%= Enum.at(@all_news, 8).title %></a></li>
          </ul>
        </div> <!-- //popular-news -->
    </div>
  </div>
</section>
