<section class="main-wrapper single-category">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="row">
           <div class="col-sm-12">
             <h2 class="main-entry-title"><a href="<%= @news.link %>"><%= @news.title %></a></h2>
             <%= if @news.sub_title do %>
               <div class="entry-summary">
                 <p>
                   <%= @news.sub_title %>
                 </p>
               </div>
             <% end %>

             <div class="entry-blog-meta">
              <div class="entry-blog-meta-list">
                <div class="author-avatar">
                  <img alt="" src="img/comm-user.jpg">
                </div>
                <div class="author-avatar-text">
                  <p class="author"> <a href="/" title="Posts by NewEdge" rel="author"><%= @news.source %></a></p>
                  <span class="entry-date"><time>Nov 18, 2017</time></span>,
                  <span class="cats"><a href="/" rel="category tag"><%= Enum.join(@news.tags, ", ") %></a></span>
                </div>
              </div>
            </div>

            <%= for content <- @news.content["contents"] do %>
              <%= if content["type"] == "text" do %>
              <div class="entry-summary">
                <p>
                  <%= content["content"] %>
                </p>
              </div>
              <% else %>
              <div class="entry-img">
                <img src="<%= content["src"] %>" class="img-responsive" alt="<%= content["alt"] %>">
              </div>
              <% end %>
            <% end %>

            <div class="post-meta-info">
              <div class="post-meta-info-list tags">
                <i class="fa fa-tags"></i>
                <div class="post-meta-info-list-in tags-in">
                  <p>بر چسب ها</p>
                  <%= Enum.join(Enum.slice(@news.tags, 0, 3), ", ") %>
                </div>
              </div>
              <div class="post-meta-info-list category">
                <i class="fa fa-folder-open-o"></i>
                <div class="post-meta-info-list-in category-in">
                  <p>دسته بندی</p>
                  <a href="/" rel="category tag"><%= @news.category %></a>
                </div>
              </div>
              <div class="post-meta-info-list date">
                <i class="fa fa-calendar-o"></i>
                <div class="post-meta-info-list-in date-in">
                  <p>تاریخ</p>
                  <time class="entry-date"><%= @conn.assigns.current_date %></time>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
