<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <%= render AyenehKhabarWeb.Web.SharedView, "_head.html", conn: @conn %>
  </head>

  <body class="sticky-header">
    <div class="body-innerwrapper">
      <header id="newedge-top-bar">
        <div class="container">
          <div class="row">
            <div id="logo" class="col-xs-4 col-sm-3 col-md-3 hidden-sm hidden-xs">
              <a href="/"><img src="/images/logo.jpg" alt="logo"></a>
            </div> <!-- //logo -->
            <div class="col-sm-12 col-md-9">
              <div class="top-right">
                <div class="newedge-date">
                  <span><%= inspect @conn.assigns.current_date %></span>
                </div> <!-- //date -->
                <div class="newedge-login">
									<a href="/" role="button" data-toggle="modal" data-target="#login">
										<i class="fa fa-user"></i>
									</a>
									<!-- Login modal -->
									<div id="login" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
										<div class="modal-dialog">
											<!-- Modal content-->
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
													<h1 class="text-left">Log in</h1>
												</div>
												<div class="modal-body">
													<form action="index.html#" method="post" id="login-form">
														<fieldset class="userdata">
															<input id="username" placeholder="Username" type="text" name="username" class="form-control">
															<input id="password" type="password" placeholder="Password" name="password" class="form-control">
															<div class="remember-wrap">
																<input id="remember" type="checkbox" name="remember" class="inputbox" value="yes">
																<label for="remember">Remember Me</label>
															</div>
															<div class="button-wrap pull-left">
																<input type="submit" name="Submit" class="btn btn-block btn-success" value="Log in">
															</div>
															<p class="forget-name-link pull-left">
																Forgot <a href="/">
																Username</a> or <a href="/">
																Password</a>
															</p>
														</fieldset>
													</form>
												</div> <!--/Modal body-->
												<div class="modal-footer">
													New Here? <a href="/">
													Create an account</a>
												</div> <!--/Modal footer-->
											</div> <!-- Modal content-->
										</div> <!-- /.modal-dialog -->
									</div> <!-- //Login modal -->
								</div> <!-- //login -->
								<div class="newedge-search">
									<div class="search-icon-wrapper">
										<i class="fa fa-search"></i>
									</div>
									<div class="search-wrapper">
										<form action="/" method="post">
											<input name="searchword" maxlength="200" class="inputboxnewedge-top-search" type="text" size="20" placeholder="Search ...">
											<i id="search-close" class="fa fa-close"></i>
										</form>
									</div> <!-- //search-wrapper -->
								</div> <!-- //search -->
							</div> <!-- //top-right -->
						</div>
					</div> <!-- //row -->
				</div> <!-- //container -->
			</div> <!-- //top-bar -->

      <!-- navigation mobile version -->
			<div id="mobile-nav-bar" class="mobile-nav-bar">
				<div class="container">
					<div class="row">
						<div class="visible-sm visible-xs col-sm-12">
							<div id="logo" class="mobile-logo pull-left">
								<a href="/"><img src="/images/logo.jpg" alt="logo"></a>
							</div>
							<a id="offcanvas-toggler" class="pull-right" href="/"><i class="fa fa-bars"></i></a>
						</div>
					</div>
				</div>
			</div>

      <!-- navigation -->
			<nav id="navigation-bar" class="navigation hidden-sm hidden-xs">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<ul class="list-inline megamenu-parent">
								<li><a href="/">خانه</a></li>
								<li><a href="/">سیاسی</a></li>
								<li><a href="/">اقتصادی</a></li>
								<li><a href="/">هنر</a></li>
								<li><a href="/">ورزشی</a></li>
								<li><a href="/">اجتماعی</a></li>
							</ul>
						</div> <!-- col-sm-12 -->
					</div> <!-- //row -->
				</div> <!-- //container -->
			</nav> <!-- //navigation -->
		</header>
		<!--====  End of Header  ====-->



    <%= render @view_module, @view_template, assigns %>

    <%= render AyenehKhabarWeb.Web.SharedView, "_footer.html", conn: @conn %>

    <script src="<%= static_path(@conn, "/js/jquery.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/bootstrap.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/smoothscroll.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/classie.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/selectFx.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/jquery.nanoscroller.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/owl.carousel.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/jquery.flexslider-min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/jquery.sticky.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/main.js") %>"></script>
  </body>
</html>
