<!--==================================
=            START FOOTER            =
===================================-->
<footer>
  <div class="footer-wrapper">
    <div class="container">
      <div class="row">
        <div id="bottom1" class="col-sm-6 col-md-3">
          <p class="footer-logo"><img src="images/logo.jpg" alt="logo"></p>
          <p class="footer-info">خبرگزاری آیینه خبر</p>
          <div class="footer-contact">
            <p>
              info@ak.ir
              <br />
              <span>Email:</span>
            </p>
            <p>
              +21 88664422
              <br />
              <span>Tel:</span>
            </p>
          </div>
        </div> <!-- //bottom1 -->

        <div id="bottom2" class="col-sm-6 col-md-3">
          <div class="bottom-menu">
            <h3 class="title">لینک</h3>
            <div class="pull-left">
              <ul class="menu">
                <li><a href="/">خانه</a></li>
                <li><a href="/">درباره ما</a></li>
                <li><a href="/">تبلیغات</a></li>
                <li><a href="/">موضوعات</a></li>
              </ul>
            </div>
            <div class="pull-right">
              <ul class="menu">
                <li><a href="/">تماس با ما</a></li>
                <li><a href="/">شرایط استفاده</a></li>
              </ul>
            </div>
          </div>
        </div> <!-- //bottom2 -->

        <div id="bottom3" class="col-sm-6 col-md-3">
          <div class="">
            <h3 class="title">بر چسب ها</h3>
            <div class="tags">
              <a class="tag-name" href="/">سیاسی</a>
              <a class="tag-name" href="/">ورزشی</a>
              <a class="tag-name" href="/">بین الملل</a>
              <a class="tag-name" href="/">اقتصادی</a>
              <a class="tag-name" href="/">هنر</a>
              <a class="tag-name" href="/">اجتماعی</a>
              <a class="tag-name" href="/">فرهنگ</a>
              <a class="tag-name" href="/">ویدئو</a>
            </div>
          </div>
        </div> <!-- //bottom3 -->

        <div id="bottom4" class="col-sm-6 col-md-3">
          <div class="social-wrapper">
            <h3 class="title">شبکه های مجازی</h3>
            <ul class="social-icons">
              <li><a target="_blank" href="/"><i class="fa fa-facebook"></i> Facebook</a></li>
              <li><a target="_blank" href="/"><i class="fa fa-twitter"></i> Twitter</a></li>
              <li><a target="_blank" href="/"><i class="fa fa-google-plus"></i> Google Plus</a></li>
              <li><a target="_blank" href="/"><i class="fa fa-pinterest"></i> Pinterest</a></li>
              <li><a target="_blank" href="/"><i class="fa fa-linkedin"></i> Linkedin</a></li>
            </ul>
          </div>
        </div> <!-- //bottom4 -->
      </div> <!-- //row -->
    </div>  <!-- //container -->
  </div> <!-- //footer-wrapper -->

  <div class="copyright-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <p class="copyright"> Copyright © 2017 <a href="https://bigle.ir">خبر گزاری.</a> All rights reserved.</p>
        </div>
        <div class="col-sm-6 col-md-6">
          <p class="pull-right">Design &amp; Devleopment by&nbsp;<a href="https://www.bigle.ir/">Bigle</a></p>
        </div>
      </div>  <!-- //row -->
    </div> <!-- //container -->
  </div> <!-- //copyright-wrapper -->
</footer>
<!--====  End of FOOTER  ====-->
