<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="سایت خبری آیینه خبر، آخرین اخبار ایران و جهان">
<meta name="author" content="">

<title>سایت خبری آیینه خبر</title>
<link rel="stylesheet" href="<%= static_path(@conn, "/css/bootstrap.min.css") %>">
<link rel="stylesheet" href="<%= static_path(@conn, "/css/font-awesome.min.css") %>">
<link rel="stylesheet" href="<%= static_path(@conn, "/css/cs-select.css") %>">
<link rel="stylesheet" href="<%= static_path(@conn, "/css/animate.css") %>">
<link rel="stylesheet" href="<%= static_path(@conn, "/css/nanoscroller.css") %>">
<link rel="stylesheet" href="<%= static_path(@conn, "/css/owl.carousel.css") %>">
<link rel="stylesheet" href="<%= static_path(@conn, "/css/flexslider.css") %>">
<link rel="stylesheet" href="<%= static_path(@conn, "/css/style.css") %>">
<link rel="stylesheet" href="<%= static_path(@conn, "/css/responsive.css") %>">
<link rel="stylesheet" href="<%= static_path(@conn, "/css/preset1.css") %>">
<link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
