<a class="nav-item is-tab is-active">
  #آخرین اخبار
</a>
<a class="nav-item is-tab">
  #سیاسی
</a>
<a class="nav-item is-tab">
  #ورزشی
</a>
<a class="nav-item is-tab">
  #اقتصادی
</a>
<a class="nav-item is-tab">
  #هنری
</a>
<a class="nav-item is-tab">
  #فیلم
</a>
