@font-face {
  font-family: 'droidnaskh';
  src: url('/fonts/droidnaskh.eot');
  src: url('/fonts/droidnaskh.woff') format('woff'), url('/fonts/droidnaskh.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'droidnaskhbold';
  src: url('/fonts/droidnaskhbold.eot');
  src: url('/fonts/droidnaskhbold.woff') format('woff'), url('/fonts/droidnaskhbold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
